$color-brand: #98c9ff;
$color-dark: #161219;
$color-light: #d9e6e4;
$color-blue: #478ad2;

@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,900|Amiri|Amiko');

html {
  @media screen and (min-width: 540px){
    font-size: 18px;
  }

}

body {
  background: #44A08D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: $color-brand;
  height: 100vh;
  font-weight: 400;
  font-family: 'Amiko', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $color-brand;
  transition: all 0.15s ease-in-out;

  &:hover,
  &:active {
    color: $color-brand;
    opacity: 0.75;
    text-decoration: none;
  }
}

.btn-primary {
  background-color: $color-blue;
  border-color: $color-blue;
}

.profile-pic {
  max-width: 100px;
  max-height: 100px;
}
